body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #ff4e88, #ff9a9e);
    font-family: Arial, sans-serif;
    overflow: hidden;
    text-align: center;
    color: white;



}

.container {
    position: relative;
}

h1 {
    font-size: 2.5rem;
}

button {
    padding: 12px 25px;
    font-size: 1.2rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin: 10px;
    transition: 0.3s;
    box-shadow: 0 0 15px rgba(175, 196, 255, 0.5);
}


#yes:hover {
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.9);
}


#yes {
    background-color: white;
    color: #ff4e88;
    transition: 0.2s ease;
}


#no {
    background-color: #222;
    color: white;
    position: absolute;
}

.corazon {
    position: absolute;
    top: -10px;
    animation: caer 3s linear infinite;
}

/* Animación de caída */
@keyframes caer {
    to {
        transform: translateY(110vh);
        opacity: 0;
    }
}

@keyframes latido {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

body.latido {
    animation: latido 1s infinite;
}

.foto-romantica {
    width: 250px;
    height: 350px;
    object-fit: cover;
}


.foto-romantica:hover {
    transform: scale(1.05);
}